@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import "tailwindcss";

:root {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  color: #0f172a;
  background-color: #f8fafc;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f8fafc;
}

img {
  max-width: 100%;
  display: block;
}

button,
input {
  font-family: inherit;
}



/* Hide the built-in Edge/Chrome password reveal button */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
} 

/* Also cover Chromium-based Edge */
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-password-toggle-button {
  display: none;
}

@keyframes infinite-scroll-slow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll-slow {
  animation: infinite-scroll-slow 25s linear infinite;
  display: flex;
  width: max-content;
}

/* Pause animation on hover */
.animate-infinite-scroll-slow:hover {
  animation-play-state: paused;
}




